
.bg-login .box {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2), 0px 0px 1px 0px rgba(0,0,0,0.2);
    width: 600px;
    padding: 2em 3em;
    margin: auto;
}
_box-sizing.scss:11
*, *::after, *::before {
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
Inherited from body.flaticon.bg-login
specific-flaticon.scss:1
body.flaticon {
    font-family: "Varela Round","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
}
_typography.scss:1
body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    color: #333;
    font-family: "Open Sans","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-size: 1em;
    line-height: 1.5;
}
Inherited from html
normalize.scss:9
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
Pseudo ::before element
_box-sizing.scss:11
*, *::after, *::before {
    box-sizing: inherit;
}
Pseudo ::after element
_clearfix.scss:20
.bg-login .box::after {
    clear: both;
    content: "";
    display: table;
}
_box-sizing.scss:11
*, *::after, *::before {
    box-sizing: inherit;


    element.style {
    }

    login.scss:103
    .bg-login .box .social-login li button, .bg-login .box .social-login li .btn {
        width: 32%;
        margin-right: 2%;
    }
    social.scss:27
    .social li button.google, .social li .google.btn {
        background-color: #db402c;
    }
    social.scss:5
    .social li button, .social li .btn {
        display: block;
        float: left;
        margin: 0;
        border-radius: 4px;
        position: relative;
        color: #fff;
        padding: .8em;
        text-align: center;
    }
    _buttons.scss:2
    button, .btn, .modal .btn, input[type="submit"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        border: none;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
    }
    _button.scss:1
    button, .btn, .modal .btn, input[type="submit"] {
        -webkit-font-smoothing: antialiased;
        background-color: #006df0;
        border-radius: 3px;
        color: white;
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
        line-height: 1;
        padding: 0.75em 1em;
        text-decoration: none;
    }
    normalize.scss:296
    button, .btn, .modal .btn, html input[type="button"], input[type="reset"], input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }
    normalize.scss:281
    button, .btn, .modal .btn, select {
        text-transform: none;
    }
    normalize.scss:269
    button, .btn, .modal .btn {
        overflow: visible;
    }
    normalize.scss:259
    button, .btn, .modal .btn, input, optgroup, select, textarea {
        color: inherit;
        font: inherit;
        margin: 0;
    }
    _box-sizing.scss:11
    *, *::after, *::before {
        box-sizing: inherit;
